/*  Fonts
=============================================*/
$font-size: 14px;
$font-open-sans: 'Open Sans', sans-serif;
$font-default: $font-open-sans;

/*  Colors
=============================================*/


/*  Backgrounds
=============================================*/


/* SCREEN SIZES
=============================================*/
$screen-xs: 600px;
$screen-sm: 1024px;
$screen-md: 1440px;
$screen-lg: 1920px;

